* {
  color: black;
  background-color: #ADD8E6;
text-align:right; 
}
h2 {
  color: grey;
  font-family: Suruma;
  font-size:25px;
  text-align: center;
}

p {
	color: pink;
  font-family: KacstTitle;
  font-size: 90px;
}

.big{
	color: orange;
	font-family: Suruma;
	font-size: 40px;
}

